* text=auto

/examples export-ignore
/test export-ignore
/.github export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/phpunit.xml.dist export-ignore
/phpcs.xml export-ignore
/README.md export-ignore
/vonage_logo.png export-ignore

# Ignore all differences in line endings for requests
/test/SMS/requests/* text eol=crlf
/test/Voice/requests/* text eol=crlf
/test/Verify2/Requests/* text eol=crlf