language: php
php:
  - '5.6'
  - '7.0'
  - '7.1'
  - '7.2'
  - '7.3'

before_script:
  - composer install

script:
  - ./vendor/bin/phpunit -v --configuration ./phpunit.xml.dist --coverage-clover=coverage.xml

after_success:
    - bash <(curl -s https://codecov.io/bash)
