<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="unit">
            <directory>./test/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>